
{% extends "base.html" %}
{% block title %}About page{% endblock title %}
{% block body %}
<div class="row mt-5">
  <div class="col-md-12">
      <div class="card">
          <div class="card-header">
              <h1>Reverse String</h1>
          </div>
          <div class="card-body">
              <form action="/reverse" method="POST">
                  {% csrf_token %}
                  <div class="mb-3">
                    <label for="stringinput" class="form-label">Enter string</label>
                    <input type="text" class="form-control" id="stringinput" aria-describedby="emailHelp" name="inp">
                  </div>
                  <button type="submit" class="btn btn-primary">Reverse</button>
                </form>
          </div>
      </div>
  </div>
</div>
{% endblock body %}

