
{% extends "base.html" %}
{% block title %}{{ data.0.name }}{% endblock title %}

{% block body %}

<section id="hero" style="background-image:url({{ MEDIA_URL }}{{ data.0.bg_image }})" class="d-flex flex-column justify-content-center align-items-center">
  <div class="hero-container" data-aos="fade-in">
    {% if data %}
      <h1>{{ data.0.name }}</h1>
    {% else %}
      <h1>Bangladesh</h1>
    {% endif %}
    <p>I'm <span class="typed" data-typed-items="{{ data.0.designation }}"></span></p>
  </div>
</section>


<section id="services" class="services">
  <div class="container">

    <div class="section-title">
      <h2>Projects</h2>
      <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
    </div>

    <div class="row">
      {% for project in data.0.projects.all %}
      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
        <div class="icon">
          <img src="{{ MEDIA_URL }}/{{ project.image }}" style="height:100%">
        </div>
        <h4 class="title"><a href="{{ project.link }}">{{ project.name }}</a></h4>
        <p class="description" style="margin-top:-10px">{{ project.description }}</p>
      </div>
      {% endfor %}
    </div>

  </div>
</section>



<section id="testimonials" class="testimonials section-bg">
  <div class="container">

    <div class="section-title">
      <h2>Testimonials</h2>
      <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
    </div>

    <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper-wrapper">
        {% for test in data.0.testimonials.all %}
          <div class="swiper-slide">
            <div class="testimonial-item" data-aos="fade-up">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                {{ test.recomendation }}
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
     
              <img src="{{ MEDIA_URL }}/{{ test.image }}" class="testimonial-img" alt="">
              <h3>{{ test.name }}</h3>
              <h4>{{ test.title }}</h4>
            </div>
          </div><!-- End testimonial item -->
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>
</section>

{% endblock body %}


