
{% extends "base.html" %}
{% block title %}Services{% endblock title %}

{% block body %}

<section id="services" class="services">
  <div class="container">

    <div class="section-title">
      <h2>Services</h2>
      <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
    </div>

    <div class="row">
      {% for service in data.0.services.all %}
      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
        <div class="icon">
          <img src="{{ MEDIA_URL }}/{{ service.icon }}" style="height:20px">
        </div>
        <h4 class="title"><a href="">{{ service.name }}</a></h4>
        <p class="description">{{ service.description }}</p>
      </div>
      {% endfor %}
    </div>

  </div>
</section>

{% endblock body %}


